{% extends 'base.html.twig' %}

{% block title %}Edit Intendente{% endblock %}

{% block body %}
    <h1>Edit Intendente</h1>

    {{ include('intendente/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('intendente_index') }}">back to list</a>

    {{ include('intendente/_delete_form.html.twig') }}
{% endblock %}
