{% extends 'base.html.twig' %}

{% block title %}New Pedido{% endblock %}

{% block body %}
    <h1>Create new Pedido</h1>

    {{ include('pedido/_form.html.twig') }}
    


    <div  class="col-sm-12" >
    
 		<a href="{{ path('pedido_index') }}" class=" col-sm-2 btn btn-primary" role="button">back to list</a>
	</div>

  
{% endblock %}
